.about {
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; /* Permitir que el contenido se envuelva */
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap; /* Para que se envuelva en pantallas pequeñas */
  margin: 5% auto;
}

.about-text {
  max-width: 45%;
  margin-bottom: 20px;
}

.about-text h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.about-text p {
  font-size: 18px;
  margin-bottom: 20px;
}

.about-text button {
  background-color: #181818;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.about-text button:hover {
  background-color: #535353;
}

.about-image {
  max-width: 40%;
  text-align: right; 
  margin-right: 5%;
}

.about-image img {
  max-width: 100%;
  height: auto; /* Permitir que la imagen mantenga sus proporciones */
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .about {
    padding: 20px;
  }

  .about-content {
    flex-direction: column; /* Colocar el contenido en columna */
    align-items: center; /* Centrar los elementos en pantallas pequeñas */
  }

  .about-text {
    max-width: 100%; /* Asegurar que el texto ocupe todo el ancho */
    text-align: center; /* Centrar el texto */
  }

  .about-text h2 {
    font-size: 38px;
  }

  .about-text p {
    font-size: 18px;
  }

  .about-image {
    max-width: 100%;
    margin-right: 0; /* Eliminar margen en pantallas pequeñas */
    margin-bottom: 20px; /* Agregar espacio entre la imagen y el texto */
  }
}

@media (max-width: 480px) {
  .about-text h2 {
    font-size: 30px; /* Fuente más pequeña para pantallas muy pequeñas */
  }

  .about-text p {
    font-size: 16px; /* Reducir el tamaño del texto */
  }

  .about-text button {
    font-size: 14px; /* Botón más pequeño en pantallas pequeñas */
    padding: 8px 16px;
  }

  .about-image img {
    height: auto; /* Ajustar altura para pantallas muy pequeñas */
  }
}

/* Estilos para la ventana modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 600px;
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #181818;
}

.modal-text h3 {
  font-size: 22px;
}

.modal-text p {
  font-size: 16px;
}

@media (max-width: 768px) {
  .modal-content {
    width: 95%; /* Ensanchar modal en pantallas medianas */
  }

  .modal-text h3 {
    font-size: 20px;
  }

  .modal-text p {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .modal-content {
    width: 100%; /* Modal de ancho completo en pantallas pequeñas */
  }

  .modal-text h3 {
    font-size: 18px;
  }

  .modal-text p {
    font-size: 12px;
  }
}
