.courses {
  display: flex;
  justify-content: center;
}

.courses-container {
  background-color: #e9e9e9; 
  padding: 40px;
  width: 100%;
  margin: 0 auto; 
}

.courses-text {
  text-align: center;
}

.courses-text h2 {
  font-size: 36px;
  margin-bottom: 1%;
}

.texto-cursos {
  margin-bottom: 15%;
  color: black;
}

.courses-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10%;
}

.icon-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  border-radius: 50%;
  width: 80px; 
  height: 80px; 
  margin-bottom: 10px;
  color: white;
}

.icon-circle svg {
  color: white;
}

.icon-item p {
  margin: 0;
  font-size: 16px;
}

/* Ajustes responsivos */
@media (max-width: 768px) {
  .courses-container {
    padding: 20px;
  }

  .courses-icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos iconos por fila */
    justify-content: center;
    gap: 20px;
  }

  /* Centrar el quinto icono en una fila debajo */
  .icon-item:nth-child(5) {
    grid-column: span 2;
    justify-self: center;
  }
}

/* Opcional para pantallas muy pequeñas */
@media (max-width: 480px) {
  .icon-circle {
    width: 60px;  /* Ajustar el tamaño de los iconos */
    height: 60px;
  }

  .icon-item p {
    font-size: 14px;  /* Texto más pequeño en móviles */
  }
}
