/* Estilos para la sección Hero */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85vh; /* Incrementar altura general */
  background-size: cover;
  background-position: center; /* Ajuste para que la imagen siempre esté centrada */
  color: white;
  text-align: center;
  position: relative;
  padding: 20px;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3); /* Overlay oscuro */
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
  z-index: 1;
  color: #a5a5a5;
  max-width: 100%; /* Ajuste del tamaño máximo del texto */
}

.hero p {
  font-size: 24px;
  z-index: 1;
  color: #b8b8b8;
  max-width: 90%; /* Ajuste del tamaño máximo del texto */
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3); 
  z-index: 0;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .hero {
    height: 75vh; /* Aumentar la altura en pantallas medianas */
    padding: 15px;
  }

  .hero h1 {
    font-size: 36px; /* Ajustar el tamaño de la fuente en pantallas medianas */
  }

  .hero p {
    font-size: 20px; /* Ajustar el tamaño de la fuente en pantallas medianas */
  }
}

@media (max-width: 480px) {
  .hero {
    height: 65vh; /* Aumentar la altura en pantallas pequeñas */
    padding: 15px;
  }

  .hero h1 {
    font-size: 32px; /* Fuente un poco más grande en pantallas pequeñas */
  }

  .hero p {
    font-size: 18px; /* Fuente ajustada en pantallas pequeñas */
  }
}
