.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75vh;
  background-size: cover;
  color: white;
  text-align: center;
  position: relative;
  padding: 20px;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
  z-index: 1;
  color: #a5a5a5;
}

.hero p {
  font-size: 24px;
  z-index: 1;
  color: #b8b8b8;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3); 
  z-index: 0;
}
